body {
    background-color: #f1f1f1;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 40px;
}

.flex-container > div {
    background-color: white;
    width: 340px;
    height: 360px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
    border-radius: 5px;
}

.des {
    height: 55px;
    margin: 0px;
    font-size: 26px;
    font-weight: 500;
    color: rgb(242, 149, 196);
}

.des:hover {
    text-decoration: none;
}

.flex-container > div:hover {
    cursor: pointer;
}