{% extends "base.html" %}

{% block content %}
<form method='POST' action='/shirts'>
    <fieldset>
    <legend>Sell New Shirt</legend>
    <!-- TITLE -->
    <p>
        <label for='title'>Shirt Title:</label><br>
        <input type='text' name='title' />
    </p>
    <p>
            <label for='image'>Shirt Image URL:</label><br>
            <input type='text' name='image' />
    </p>
    <p>
        <label for='price'>Price</label><br>
        <input type='text' name='price' />
    </p>
    <p>
            <label for='description'>Description</label><br>
            <input type='text' name='description' />
        </p>
    
    </fieldset>

    <!-- BUTTON -->
    <p>
        <button type='submit'>Post</button>
    </p>
</form>
{% endblock %}